/* !RESET */
img {
    max-width: 100%;
}

label {
    display: none;
}
a {
    text-decoration: inherit;
    color: inherit;

}
.form-control {
    border: 0;

}
/* !COMMON */
/* @root */
:root {
    --primary-clr: #1ABC9C;
    --secondary-clr: #2C3E50;
    --tertiary-clr: white;
    --quaternary-clr: #3A546D;
}

/* @color palette */
.ms_primary {
    background-color: var(--primary-clr);
    color: var(--tertiary-clr);
}

.ms_secondary {
    background-color: var(--secondary-clr);
    color: var(--tertiary-clr);

}

.ms_secondary a {
    color: var(--tertiary-clr);
}

.ms_tertiary {
    background-color: var(--tertiary-clr);
    color: var(--secondary-clr);
}
.ms_quaternary {
    background-color: var(--quaternary-clr);
    color: var(--tertiary-clr);
}
/* @utilities */
.ms_container {
    width: 80%;
    margin: 0 auto;
}


/* !HEADER */

.navbar {
    --bs-navbar-toggler-border-color: var(--tertiary-clr);
}


/* !MAIN */
/* @jumbotron */

/* @about */

/* @contact */
.ms_btn {
    background-color: var(--primary-clr);
    color: var(--tertiary-clr);
    border: none;
}
.ms_btn:hover {
    border: 1px solid var(--secondary-clr);
}

/* !FOOTER */
.ms_rounded {
    display: inline-block;
    border: 1px solid var(--tertiary-clr);
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    line-height: 2.5rem;
    margin: .5rem;
    transition: 250ms;
}

.ms_rounded:hover {
    background-color: var(--tertiary-clr);
    color: var(--quaternary-clr);
}

.ms_link {
    color: var(--primary-clr);
}

.ms_link:hover {
    color: var(--tertiary-clr);
    text-decoration: underline;
}